.breadcrumb__item {
	display: inline-block;
	margin-right: 1em;
}

.breadcrumb__item .breadcrumb__link {
	border: 0;
	font-weight: var(--font-weight-semibold);
	color: var(--color-primary);
	position: relative;
}

.breadcrumb__item .breadcrumb__link:hover {
	border-bottom: 1px solid var(--color-secondary);
}

.breadcrumb__item .breadcrumb__link:after {
	content: "";
	width: 15px;
	height: 25px;
	background: url(imagenes/angle-circle-down.svg) no-repeat center;
	background-size: 10px;
	display: inline-block;
	position: absolute;
	transform: rotate(0.75turn);
}

@media only screen and (max-width: 1080px) {
  .breadcrumb__item .breadcrumb__link {
		font-size: 0.9em;
	}
}

@media only screen and (max-width: 460px) {
	.breadcrumb__item .breadcrumb__link {
		font-weight: var(--font-weight-regular);
	}
}