.breadcrumb {
	font-size: 0.95em;
	border-bottom: 1px solid var(--color-secondary);
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	padding: 1em 0;
}

.breadcrumb .breadcrumb__list {
	margin: 0;
	list-style: none;
	padding: 0;
}

@media only screen and (max-width: 1080px) {
  .breadcrumb .breadcrumb__list {
		padding-left: 1em;
		padding-right: 1em;
		overflow-y: auto;
		overscroll-behavior-x: contain;
		webkit-overflow-scrolling: touch;
		/* apply iOS momentum scrolling effect to this element */
		white-space: nowrap;
		/*li:last-child {display: none;}*/
	}
}